body{
    font-family: Mukta,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.content{
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;

}

h1,h2,h3,h4,h5,h6{
    font-family: Bitter, serif;
    font-weight: 500;
}

.info{
 text-align: center;
    text-transform: uppercase;
    font-family: Bitter, "Serif", serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.info span{
    color: #e95400;
}

.headline{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;
    margin: 40px 0;
    font-size: 18px;
}

h1{
      font-size: 80px;
    font-weight: 400;
    letter-spacing: -1.5px;
    margin: 0;
}

h2{
    font-size: 50px;
    letter-spacing: -0.5px;
}
h3{
    font-size: 38px;
    letter-spacing: 0;
    text-transform: capitalize;

}
h4{
    font-size: 30px;
    letter-spacing: 0.25px;
}
h5{
    font-size: 24px;
    letter-spacing: 0.25px;
}
h6{
    font-size: 20px;
    letter-spacing: 0.25px;
}
.quote{
    font-size:14px;
    font-style: italic;
    border-left: #e95400 2px solid;
    padding-left: 16px;
    margin: 32px 0 32px 32px;
}

.quote cite {
    display: block;
    font-weight: bold;
    margin-left: 20px;
}

code{
    color: #e95400;
    font-weight: bold;
}

footer{
    background-color: #863ae8;
}

footer ul{
    list-style: none;
    margin: auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 28px;

}

footer ul li{
    display: inline;
    padding: 0 16px;
}

footer li a{
    text-decoration: none;
    color: white;
}

footer li a:hover{
    text-decoration: underline;
}

.hero{
    background-color: #863ae8;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1, .hero p{
    width: 75%;
    max-width: 900px;
    text-align: center;
    margin: 16px 0;


}

.hero hr{
    width: 75%;
    margin: 32px 0;
}